@model ShoeStore.Domain.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Articles";
}

<div class="col s12 m7">
    <h2 class="header">Articles</h2>

    @if (Model.Articles.Count() == 0)
    {
        <h4>There are no articles...</h4>
    }

    @foreach (var article in Model.Articles)
    {
        <div class="card horizontal">
            <div class="card-image">
                <img src="~/Content/images/shoes-logo.jpg" />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>
                        @article.Name
                    </h4>
                    <h5>
                        @article.Description
                    </h5>
                    <h5>
                        Price: @article.Price
                    </h5>
                    <span class="badge white-text" 
                          data-badge-caption="Total in vault" 
                          style="margin-right: 160px">@article.TotalInVault</span>
                    <span class="badge blue white-text" 
                          data-badge-caption="Total In Shelf">@article.TotalInShelf</span>
                </div>
                <div class="card-action">
                    <h5 class="right" style="margin: 0 0">
                        @article.Store.Name
                    </h5>
                </div>
            </div>
        </div>
    }
</div>

